.u-section-1 .u-sheet-1 {
  min-height: 1317px;
}

.u-section-1 .u-group-1 {
  width: 847px;
  min-height: 98px;
  height: auto;
  margin: 101px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 37px 290px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -19px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -22px auto 0 25px;
}

.u-section-1 .u-list-1 {
  width: 848px;
  margin: 19px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 905px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 17px 17px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2px 29px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -26px 278px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 710px 0 10px;
}

.u-section-1 .u-group-2 {
  width: 145px;
  height: 38px;
  margin: 33px auto 0 14px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 5px;
  padding-top: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 7px 7px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -8px 10px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-1 .u-group-3 {
  width: 145px;
  height: 40px;
  margin: -71px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 0 2px 0 8px;
}

.u-section-1 .u-group-4 {
  width: 138px;
  height: 40px;
  margin: -40px auto 0 187px;
}

.u-section-1 .u-container-layout-5 {
  padding: 3px 7px 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 0 7px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2px 29px 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -26px 278px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 710px 0 10px;
}

.u-section-1 .u-group-5 {
  width: 145px;
  height: 38px;
  margin: 33px auto 0 14px;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 5px;
  padding-top: 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 7px 7px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -8px 10px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-1 .u-group-6 {
  width: 145px;
  height: 40px;
  margin: -71px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: 0 2px 0 8px;
}

.u-section-1 .u-group-7 {
  width: 138px;
  height: 40px;
  margin: -40px auto 0 187px;
}

.u-section-1 .u-container-layout-9 {
  padding: 3px 7px 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 0 7px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2px 29px 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -26px 278px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 710px 0 10px;
}

.u-section-1 .u-group-8 {
  width: 145px;
  height: 38px;
  margin: 33px auto 0 14px;
}

.u-section-1 .u-container-layout-11 {
  padding-bottom: 5px;
  padding-top: 0;
}

.u-section-1 .u-text-22 {
  font-size: 0.875rem;
  margin: 7px 7px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -8px 10px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-1 .u-group-9 {
  width: 145px;
  height: 40px;
  margin: -71px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 0 2px 0 8px;
}

.u-section-1 .u-group-10 {
  width: 138px;
  height: 40px;
  margin: -40px auto 0 187px;
}

.u-section-1 .u-container-layout-13 {
  padding: 3px 7px 0;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  margin: 0 7px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2px 29px 0 auto;
}

.u-section-1 .u-text-26 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-27 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -26px 278px 0 auto;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 710px 0 10px;
}

.u-section-1 .u-group-11 {
  width: 145px;
  height: 38px;
  margin: 33px auto 0 14px;
}

.u-section-1 .u-container-layout-15 {
  padding-bottom: 5px;
  padding-top: 0;
}

.u-section-1 .u-text-29 {
  font-size: 0.875rem;
  margin: 7px 7px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -8px 10px 0 auto;
  padding: 7px 21px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
  background-image: none;
}

.u-section-1 .u-group-12 {
  width: 145px;
  height: 40px;
  margin: -71px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-30 {
  font-size: 0.875rem;
  margin: 0 2px 0 8px;
}

.u-section-1 .u-group-13 {
  width: 138px;
  height: 40px;
  margin: -40px auto 0 187px;
}

.u-section-1 .u-container-layout-17 {
  padding: 3px 7px 0;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  margin: 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 25px;
    margin-left: 11px;
    height: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -86px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 7px 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-group-4 {
    width: 145px;
    min-height: 38px;
    margin-top: -38px;
    margin-left: 181px;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 25px;
    margin-left: 11px;
    height: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -86px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 7px 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-group-7 {
    width: 145px;
    min-height: 38px;
    margin-top: -38px;
    margin-left: 181px;
    height: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 25px;
    margin-left: 11px;
    height: auto;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-9 {
    margin-top: -86px;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 7px 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-group-10 {
    width: 145px;
    min-height: 38px;
    margin-top: -38px;
    margin-left: 181px;
    height: auto;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 25px;
    margin-left: 11px;
    height: auto;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-12 {
    margin-top: -86px;
    height: auto;
  }

  .u-section-1 .u-container-layout-16 {
    padding: 7px 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-group-13 {
    width: 145px;
    min-height: 38px;
    margin-top: -38px;
    margin-left: 181px;
    height: auto;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 246px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 592px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 45px;
    margin-top: 29px;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 10px 0 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -28px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -57px;
    margin-left: 170px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -45px;
    margin-right: 239px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 592px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 45px;
    margin-top: 29px;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 10px 0 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -28px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -57px;
    margin-left: 170px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    margin-top: -45px;
    margin-right: 239px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 592px;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    min-height: 45px;
    margin-top: 29px;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 10px 0 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: 0;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -28px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-9 {
    margin-top: -57px;
    margin-left: 170px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-group-10 {
    margin-top: -45px;
    margin-right: 239px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 592px;
    margin-left: 0;
  }

  .u-section-1 .u-group-11 {
    min-height: 45px;
    margin-top: 29px;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-15 {
    padding: 10px 0 0;
  }

  .u-section-1 .u-text-29 {
    margin-top: 0;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -28px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-12 {
    margin-top: -57px;
    margin-left: 170px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-group-13 {
    margin-top: -45px;
    margin-right: 239px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 376px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 4px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 45px;
    margin-top: -33px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 8px 20px;
  }

  .u-section-1 .u-text-10 {
    width: 102px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 376px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 4px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    min-height: 45px;
    margin-top: -33px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 8px 20px;
  }

  .u-section-1 .u-text-17 {
    width: 102px;
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 376px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 4px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    min-height: 45px;
    margin-top: -33px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-group-10 {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-13 {
    padding: 8px 20px;
  }

  .u-section-1 .u-text-24 {
    width: 102px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-right: 376px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 4px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-1 .u-group-12 {
    min-height: 45px;
    margin-top: -33px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-group-13 {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-17 {
    padding: 8px 20px;
  }

  .u-section-1 .u-text-31 {
    width: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1983px;
  }

  .u-section-1 .u-group-1 {
    min-height: 164px;
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 98px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -50px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1607px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 34px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -49px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 23px;
    margin-right: 216px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 30px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 154px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -135px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -98px;
    margin-left: 28px;
    min-height: 45px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 34px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -49px;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 23px;
    margin-right: 216px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 30px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 154px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -135px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -98px;
    margin-left: 28px;
    min-height: 45px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 34px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -49px;
    margin-right: auto;
  }

  .u-section-1 .u-text-21 {
    margin-top: 23px;
    margin-right: 216px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 30px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 154px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-9 {
    margin-top: -135px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -98px;
    margin-left: 28px;
    min-height: 45px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: 34px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: -49px;
    margin-right: auto;
  }

  .u-section-1 .u-text-28 {
    margin-top: 23px;
    margin-right: 216px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 30px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 154px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-12 {
    margin-top: -135px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-group-13 {
    margin-top: -98px;
    margin-left: 28px;
    min-height: 45px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}